{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}SuperMedia{% endblock %}</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"/>
</head>
<body>
<header id="header">
    <a href="/" class="logo">SuperMedia</a>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Главная</a></li>
        </ul>
    </nav>
</header>
<nav id="subheader">
    <ul>
        <li class="last"><a href="{% url 'contact:contact_us' %}">Связь с нами</a></li>
        {% if request.user.is_authenticated %}
        <li class="last_contact">{{ request.user.username }} | <a href="{% url 'home:logout' %}">Выйти</a></li>
        {% else %}
        <li class="last"><a href="{% url 'home:register' %}">Регистрация</a> | <a href="{% url 'home:login' %}">Войти</a></li>
        {% endif %}
    </ul>
    <div class="cart">
        <img src='{% static 'img/logo.png' %}' class="logo-cart">
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        В корзине:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} шт , ${{ cart.get_total_price }}
        </a>
        {% else %}
        Корзина пустая.
        {% endif %}
        {% endwith %}
    </div>
</nav>
<main id="content">
    {% block content %}{% endblock %}
</main>
<footer id="footer">
    <div class="footer-container">
        <div class="footer-info">
            <h4>О нас</h4>
            <p>Мы предоставляем лучшие товары по самым выгодным ценам. Профессиональное обслуживание и быстрая доставка.</p>
        </div>
        <div class="footer-links">
            <h4>Ссылки</h4>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'cart:cart_detail' %}">Корзина</a></li>
                <li><a href="{% url 'contact:contact_us' %}">Связь с нами</a></li>

            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 SuperMedia. Все права защищены.</p>
    </div>
</footer>
</body>
</html>
